target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
!.gitignore

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### NodeJs ###
node_modules/
npm-debug.log
package-lock.json

### VS Code ###
.vscode/
