<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd">

    <bean id="car" class="info.kupchenko.sandbox.spring.circling.family.DeLorean"/>
    <bean id="pet" class="info.kupchenko.sandbox.spring.circling.family.Dog"/>
    <bean id="husband" class="info.kupchenko.sandbox.spring.circling.family.John">
        <constructor-arg ref="pet"/>
        <property name="car" ref="car"/>
    </bean>
    <bean id="wife" class="info.kupchenko.sandbox.spring.circling.family.Mary">
        <constructor-arg ref="pet"/>
    </bean>
    <bean id="family" class="info.kupchenko.sandbox.spring.circling.family.SmithFamily">
        <constructor-arg ref="husband"/>
        <constructor-arg ref="wife"/>
    </bean>

    <task:annotation-driven executor="myExecutor"/>
    <task:executor id="myExecutor" pool-size="10"/>

</beans>